{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- Modal Update Aviso Especial -->
<form id='update_ptm' role="form" method="POST" class="" action="">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Editar Aviso Especial</h4>
  </div>
  <div class="modal-body">
    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
    {{ form|crispy }}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
    <button type="button" class="submit-btn btn btn-primary">Actualizar</button>
  </div>      
</form>
