{% load crispy_forms_tags %}
{% load staticfiles %}

<!-- Modal ver PTH5 -->

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">PTH5</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Fecha:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.emision_date }}</label>                            
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Sinopsis:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.title }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Contenido:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.content }}</label>                            
      </div>            
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Parte:</strong></label>
      <div class="col-sm-10">
        <section class="panel panel-default">
          <header class="panel-heading bg-light">
            <ul class="nav nav-tabs nav-justified">
              <li class="active"><a href="#day1" data-toggle="tab"><strong>D&iacute;a 1</strong></a></li>
              <li><a href="#day2" data-toggle="tab"><strong>D&iacute;a 2</strong></a></li>
              <li><a href="#day3" data-toggle="tab"><strong>D&iacute;a 3</strong></a></li>
              <li><a href="#day4" data-toggle="tab"><strong>D&iacute;a 4</strong></a></li>
              <li><a href="#day5" data-toggle="tab"><strong>D&iacute;a 5</strong></a></li>
            </ul>
          </header>
          <div class="panel-body">
            <div class="tab-content">
              <div class="tab-pane active" id="day1">{{ object.day1 }}</div>
              <div class="tab-pane" id="day2">{{ object.day2 }}</div>
              <div class="tab-pane" id="day3">{{ object.day3 }}</div>
              <div class="tab-pane" id="day4">{{ object.day4 }}</div>
              <div class="tab-pane" id="day5">{{ object.day5 }}</div>
            </div>
          </div>
        </section>                           
      </div>            
    </div>
    {% if object.notes %}
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Notas:</strong></label>
      <div class="col-sm-10">
        <label style="cursor: text;" class="checkbox-inline">{{ object.notes }}</label>                            
      </div>            
    </div>
    {% endif %}
    <div class="line line-dashed line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Emitido por:</strong></label>
      <div class="col-sm-5">
        <div class="media checkbox-inline">              
          <div class="media-body">
            <div><a href="#">{{ object.author1.sign_name }}</a></div>
            <small class="text-muted">{{ object.author1.forecast_center }}</small>
          </div>
        </div>  
      </div>         
      {% if object.author2 %}  
      <div class="col-sm-5">      
        <div class="media checkbox-inline">              
          <div class="media-body">
            <div><a href="#">{{ object.author2.sign_name }}</a></div>
            <small class="text-muted">{{ object.author2.forecast_center }}</small>
          </div>
        </div>   
      </div>          
      {% endif %}              
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
</div>      

