{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content_header %}
{% include 'header.html' %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'js/calendar/bootstrap_calendar.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'js/datatables_2/datatables.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'js/fuelux/fuelux.css' %}" type="text/css"/>

<style type="text/css">
  .pagination > li > a, .pagination > li > span {
    color: #717171;
    font-weight: bold;
  }

  .pagination > li > a:hover{
    color: #333;
    font-weight: bold;
  }

  input[type=”file”]#my_docx_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  label[for="my_docx_file"] {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #106BA0;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
  }

</style>

{% endblock %}

{% block content_wrapper %}

<div class="m-b-md">
  <h3 class="m-b-none">Pron&oacute;stico</h3>
  <small>Notas informativas, Avisos, Alertas, Partes Emitidos</small>
</div>

<!--
<div class="row">
<div class="col-md-4">
  <section class="panel b-light">
    <header class="panel-heading bg-primary dker no-border"><strong>Calendario</strong></header>
    <div id="calendar" class="bg-primary m-l-n-xxs m-r-n-xxs"></div>
  </section>                  
</div>
</div>
-->

{% if documents_issues %}
  <section class="panel panel-default">
    <header class="panel-heading">
      <strong>Documentos Emitidos</strong>
    </header>
    <div class="row wrapper">
      <!--
      <div class="col-sm-5 m-b-xs">
        <div class="row text-center no-gutter">
          <div class="col-xs-3 b-r b-light">
            <span class="h4 font-bold m-t block">14</span>
            <small class="text-muted m-b block">PTH</small>
          </div>
          <div class="col-xs-3 b-r b-light">
            <span class="h4 font-bold m-t block">10</span>
            <small class="text-muted m-b block">PTRD</small>
          </div>
          <div class="col-xs-3 b-r b-light">
            <span class="h4 font-bold m-t block">21</span>
            <small class="text-muted m-b block">PTT</small>
          </div>
          <div class="col-xs-3">
            <span class="h4 font-bold m-t block">12</span>
            <small class="text-muted m-b block">ACT</small>                        
          </div>
        </div>               
      </div>
      -->
      <div class="col-sm-4 m-b-xs">
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-sm btn-default active">
            <input type="radio" name="options" id="option1"> Todos
          </label>
          <label class="btn btn-sm btn-default">
            <input type="radio" name="options" id="option2"> Hoy
          </label>
          <label class="btn btn-sm btn-default">
            <input type="radio" name="options" id="option3"> &Uacute;ltimos 3 d&iacute;a
          </label>
          <label class="btn btn-sm btn-default">
            <input type="radio" name="options" id="option4"> Semana
          </label>
          <label class="btn btn-sm btn-default">
            <input type="radio" name="options" id="option5"> Mes
          </label>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="input-sm form-control" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
        <thead>
          <tr>
            <th width="20"><input type="checkbox"></th>
            <th class="th-sortable" data-toggle="class">Elemento
              <span class="th-sort">
                <i class="fa fa-sort-down text"></i>
                <i class="fa fa-sort-up text-active"></i>
                <i class="fa fa-sort"></i>
              </span>
            </th>           
            <th>Fecha</th>
            <th>T&iacute;tulo</th>
            <th>Centro</th>
            <th>Meteor&oacute;logo(s)</th>
            <th width="80"></th>
          </tr>
        </thead>
        <tbody>
          
          {% for document in documents_issues %}
          <tr>
            <td><input type="checkbox" name="post[]" value="{{ document.pk }}"></td>
            <td>{{ document.typeof }}</td>           
            <td>{{ document.emision_date }}</td>
            <td>{{ document.title }}</td>
            <td>{{ document.main_author.forecast_center }}</td>
            <td>{{ document.main_author }}
              {% if document.authors %}
               {% for author in document.authors.all %}
                  / {{ author }}
                {% endfor %}
              {% endif %}
            </td>
            <td class="text-right">
              {% if document.typeof == 'AE' %}
              <a class="view_ae" data-id="{% url 'view_ae' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="ae_{{ document.pk }}" class="update_ae" data-id="{% url 'update_ae' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>
                  <a class="delete_ae" data-id="{% url 'delete_ae' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>
                {% endif %}
              
              {% elif document.typeof == 'EGT' %}
              <a class="view_egt" data-id="{% url 'view_egt' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="egt_{{ document.pk }}" class="update_egt" data-id="{% url 'update_egt' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>
                  <a class="delete_egt" data-id="{% url 'delete_egt' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>
                {% endif %}         

              {% elif document.typeof == 'Nota Meteorológica' %} 
              <a class="view_ni" data-id="{% url 'view_ni' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="ni_{{ document.pk }}" class="update_ni" data-id="{% url 'update_ni' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>               
                  <a class="delete_ni" data-id="{% url 'delete_ni' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>                 
                {% endif %}

              {% elif document.typeof == 'PT5' %} 
              <a class="view_pt5" data-id="{% url 'view_pt5' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="pt5_{{ document.pk }}" class="update_pt5" data-id="{% url 'update_pt5' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>               
                  <a class="delete_pt5" data-id="{% url 'delete_pt5' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>                                   
                {% endif %}

              {% elif document.typeof == 'PTRD' %} 
              <a class="view_ptrd" data-id="{% url 'view_ptrd' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="ptrd_{{ document.pk }}" class="update_ptrd" data-id="{% url 'update_ptrd' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>          
                  <a class="delete_ae" data-id="{% url 'delete_ptrd' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>                   
                {% endif %}

              {% elif document.typeof == 'PTHOY' %} 
              <a class="view_pthoy" data-id="{% url 'view_pthoy' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="pthoy_{{ document.pk }}" class="update_pthoy" data-id="{% url 'update_pthoy' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>             
                  <a class="delete_pthoy" data-id="{% url 'delete_pthoy' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>                    
                {% endif %}

              {% elif document.typeof == 'PTM' %} 
              <a class="view_ptm" data-id="{% url 'view_ptm' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="ptm_{{ document.pk }}" class="update_ptm" data-id="{% url 'update_ptm' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>             
                  <a class="delete_ptm" data-id="{% url 'delete_ptm' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>                   
                {% endif %}

              {% elif document.typeof == 'PTT' %} 
              <a class="view_ptt" data-id="{% url 'view_ptt' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="ptt_{{ document.pk }}" class="update_ptt" data-id="{% url 'update_ptt' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>           
                  <a class="delete_ptt" data-id="{% url 'delete_ptt' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>                    
                {% endif %}

              {% elif document.typeof == 'DP10' %} 
              <a class="view_dp10" data-id="{% url 'view_dp10' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="dp10_{{ document.pk }}" class="update_dp10" data-id="{% url 'update_dp10' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>           
                  <a class="delete_dp10" data-id="{% url 'delete_dp10' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>                    
                {% endif %}
              
              {% elif document.typeof == 'PTTN' %}
              <a class="view_pttn" data-id="{% url 'view_pttn' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="pttn_{{ document.pk }}" class="update_pttn" data-id="{% url 'update_pttn' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>
                  <a class="delete_pttn" data-id="{% url 'delete_pttn' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>
                {% endif %}

              {% elif document.typeof == 'EGT00' %}
              <a class="view_egt00" data-id="{% url 'view_egt00' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="egt00_{{ document.pk }}" class="update_egt00" data-id="{% url 'update_egt00' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>
                  <a class="delete_egt00" data-id="{% url 'delete_egt00' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>
                {% endif %}

              {% elif document.typeof == 'EGT12' %}
              <a class="view_egt12" data-id="{% url 'view_egt12' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="egt12_{{ document.pk }}" class="update_egt12" data-id="{% url 'update_egt12' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>
                  <a class="delete_egt12" data-id="{% url 'delete_egt12' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>
                {% endif %}

              {% elif document.typeof == 'ACT' %}
              <a class="view_act" data-id="{% url 'view_act' document.pk %}"><i class="fa fa-eye icon-muted"></i></a>
                {% if document.main_author.user == user or user.appuser in document.authors.all %}
                  <a id="act_{{ document.pk }}" class="update_act" data-id="{% url 'update_act' document.pk %}"><i class="fa fa-pen icon-muted "></i></a>
                  <a class="delete_act" data-id="{% url 'delete_act' document.pk %}"><i class="fa fa-trash icon-muted "></i></a>
                {% endif %}


              {% endif %}

            </td>         
          </tr>
          {% endfor %}

      </tbody>
      </table>
    </div>
    <footer class="panel-footer">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <select class="input-sm form-control input-s-sm inline v-middle">
            <option value="0">Bulk action</option>
            <option value="1">Delete selected</option>
            <option value="2">Bulk edit</option>
            <option value="3">Export</option>
          </select>
          <button class="btn btn-sm btn-default">Apply</button>                  
        </div>
        <div class="col-sm-4 text-center">
          <strong>
            <small class="inline m-t-sm m-b-sm">Mostrando {{ documents_issues.start_index }}-{{ documents_issues.end_index }} de {{ documents_issues.paginator.count }} elementos</small>
          </strong>
        </div>
        <div class="col-sm-4 text-right text-center-xs">    
          <ul class="pagination pagination-sm m-t-none m-b-none">
            {% if documents_issues.has_previous %}
            <li><a href="?page={{ documents_issues.previous_page_number }}"><i class="fa fa-chevron-left"></i></a></li>
            <li><a href="?page=1">Inicio</a></li>          
            {% endif %}

            <li><a href="#"> P&aacute;gina {{ documents_issues.number }} de {{ documents_issues.paginator.num_pages }}</a></li>

            {% if documents_issues.has_next %}
            <li><a href="?page={{ documents_issues.paginator.num_pages }}">&Uacute;ltima</a></li>
            <li><a href="?page={{ documents_issues.next_page_number }}"><i class="fa fa-chevron-right"></i></a></li>         
            {% endif %}
          </ul>
        </div>
      </div>
    </footer>
  </section>
{% endif %}

<div class="row">
  <!-- LEFT COLUMN-->
  <div class="col-md-8">

  </div>
</div>
{% endblock %}

{% block content_footer %}

{% endblock %}

{% block javascript %}
<script src="{% static 'js/own/messages.js' %}"></script>
<script src="{% static 'js/datatables_2/datatables.min.js' %}"></script>
<script src="{% static 'js/calendar/bootstrap_calendar.js' %}"></script>
<script src="{% static 'js/calendar/demo.js' %}"></script>
<script src="{% static 'js/fuelux/fuelux.js' %}"></script>
<script src="{% static 'js/sortable/jquery.sortable.js' %}"></script>
<script src="{% static 'js/file-input/bootstrap-filestyle.min.js' %}"></script>

<script type="text/javascript">

    $(document).ready(function() {    

      // Create Functions
      $("#create_ae").modalForm({
        formURL: "{% url 'create_ae' %}",
      });

      $("#create_egt").modalForm({
        formURL: "{% url 'create_egt' %}",
      });

      $("#create_ni").modalForm({
        formURL: "{% url 'create_ni' %}",
      });

      $("#create_pt5").modalForm({
        formURL: "{% url 'create_pt5' %}",
      });

      $("#create_pthoy").modalForm({
        formURL: "{% url 'create_pthoy' %}",
      });

      $("#create_ptm").modalForm({
        formURL: "{% url 'create_ptm' %}",
      });

      $("#create_ptrd").modalForm({
        formURL: "{% url 'create_ptrd' %}",
      });

      $("#create_ptt").modalForm({
        formURL: "{% url 'create_ptt' %}",
      });

      $("#create_dp10").modalForm({
        formURL: "{% url 'create_dp10' %}",
      });

      $("#create_pttn").modalForm({
        formURL: "{% url 'create_pttn' %}",
      });


      // Read Functions
      $(".view_ae").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_egt").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_ni").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_ptr").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_pt5").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_ptm").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_pthoy").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_ptt").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_dp10").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_pttn").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_egt00").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_egt12").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".view_act").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      
      // Update Functions
      $(".update_ae").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')        
        });
      });
      
      $(".update_egt").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')        
        });
      });

      $(".update_ni").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')        
        });
      });

      $(".update_ptrd").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')        
        });
      });

      $(".update_ptt").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')        
        });
      });

      $(".update_pthoy").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')        
        });
      });

      $(".update_pt5").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')        
        });
      });

      $(".update_ptm").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')        
        });
      });

      $(".update_dp10").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')        
        });
      });

      $(".update_pttn").each(function () {
        $(this).modalForm({
          formURL: $(this).data('id')        
        });
      });

      $(".update_egt00").each(function (){
        $(this).modalForm({
          formURL: $(this).data('id')
        });
      });

      $(".update_egt12").each(function (){
        $(this).modalForm({
          formURL: $(this).data('id')
        });
      });

      $(".update_act").each(function (){
        $(this).modalForm({
          formURL: $(this).data('id')
        });
      });

      
      // Delete Functions
      $(".delete_ae").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_egt").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_ni").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_pthoy").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_ptrd").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_pt5").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_ptm").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_ptt").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_dp10").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_pttn").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_egt00").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_egt12").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });

      $(".delete_act").each(function (){
        $(this).modalForm({formURL: $(this).data('id')});
      });



  });

</script>

{% endblock %}
