
<header class="header bg-light b-b clearfix">
    <div class="row m-t-sm">
        <div class="col-sm-8 m-b-xs">
            <div class="btn-toolbar m-b-xs btn-editor" data-role="editor-toolbar" data-target="#editor">
                <div class="btn-group">
                    <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="fa fa-file-medical"></i>&nbsp;&nbsp;&nbsp;Emitir&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="create_ae">Aviso especial</a></li>                       
                        <li><a href="#" id="create_ni">Nota meteorol&oacute;gica</a></li>
                        <li><a href="#" id="create_egt">EGT</a></li>
                        <li><a href="#" id="create_pt5">PTH5</a></li>
                        <li><a href="#" id="create_pthoy">PTHOY</a></li>
                        <li><a href="#" id="create_ptm">PTM</a></li>
                        <li><a href="#" id="create_ptrd">PTRD</a></li>
                        <li><a href="#" id="create_ptt">PTT</a></li>      
                        <li><a href="#" id="create_dp10">DP10</a></li>  
                        <li><a href="#" id="create_pttn">PTTN</a></li>
                        <li class="divider"></li>
                        <li><a href="#" id="upload_from_file">Subir desde archivo</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                <a class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;&nbsp;Reportes&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" id="export_pdf">PDF</a></li>
                        <li><a href="#" id="export_word">Word</a></li>
                        <li><a href="#" id="export_excel">Excel</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <!--
        <div class="input-group m-b"> 
            <div class="input-group-btn">    
                <button type="button" class="btn btn-sm btn-dark" data-toggle="dropdown"><i class="fa fa-file-medical"></i> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a data-toggle="modal" data-target="#myModal">Action 1</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-sm btn-dark" title="Refresh"><i class="fa fa-sync-alt"></i></button>
            <button type="button" class="btn btn-sm btn-dark" title="Remove"><i class="fa fa-trash-alt"></i></button>

            <div class="input-group-btn">             
                <button type="button" class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown"><i class="fa fa-filter"></i><span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Action asdasd</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>

         </div>

        </div>
        -->


        <div class="col-sm-4 m-b-xs">
            <div class="input-group">
                <input type="text" class="input-sm form-control" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-sm btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</header>
