{% load notifications_tags %} 
{% load staticfiles %}
<header class="bg-dark dk header navbar navbar-fixed-top-xs">
  <div class="navbar-header aside-md">
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen,open" data-target="#nav,html">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#" class="navbar-brand" data-toggle="fullscreen"><img src="{% static 'images/logo.png' %}" class="m-r-sm">CNPAdmin</a>
    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user">
      <i class="fa fa-cog"></i>
    </a>
  </div> 
  <ul class="nav navbar-nav navbar-right m-n hidden-xs">
    <li class="hidden-xs">
      <a href="#" class="dropdown-toggle dk" data-toggle="dropdown">
        <i class="fa fa-bell"></i>
        <span class="badge badge-sm up bg-danger m-l-n-sm">{% notifications_unread %}</span>
      </a>
      {% if user.notifications.unread|length > 0 %}
      <section class="dropdown-menu aside-xl">
        <section class="panel bg-white">
          <header class="panel-heading b-light bg-light">
            <strong>{{user.appuser}} tienes {% notifications_unread %} notificaciones</strong>
          </header>

          <div class="list-group list-group-alt">
            {% for notification in notifications %}
            <a href="#" class="view_egt media list-group-item", data-id="{% url 'view_egt' 1 %}">
              <span class="pull-left thumb-sm">
                <img src={{notification.actor.appuser.avatar.url}} alt="John said" class="img-circle">
              </span>
              <span class="media-body block m-b-none">
                {{notification.verb}}<br>
                <small class="text-muted">{{notification.timestamp}}</small>
              </span>
            </a>     
            {% endfor %}      
          </div>
          <footer class="panel-footer text-sm">
            <strong><a href="{{ user.appuser.get_absolute_url }}">Ver todas en mi perfil</a></strong>
          </footer>
        </section>
      </section>
      {% endif %}

    </li>
    <li class="dropdown hidden-xs">
      <a href="#" class="dropdown-toggle dker" data-toggle="dropdown"><i class="fa fa-fw fa-search"></i></a>
      <section class="dropdown-menu aside-xl animated fadeInUp">
        <section class="panel bg-white">
          <form role="search">
            <div class="form-group wrapper m-b-none">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-btn">
                  <button type="submit" class="btn btn-info btn-icon"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </div>
          </form>
        </section>
      </section>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="thumb-sm avatar pull-left">
          <img src="{{ user.appuser.avatar.url }}">
        </span>
        {{ user.appuser.sign_name }} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <span class="arrow top"></span>
        <li>
          <a href="#">Settings</a>
        </li>
        <li>
          <a href="{{ user.appuser.get_absolute_url }}">Perfil</a>
        </li>
        <li>
          <a href="#">
            <span class="badge bg-danger pull-right">6</span>
            Notificaciones
          </a>
        </li>
        <li>
          <a href="docs.html">Ayuda</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="{% url 'logout' %}">Cerrar sesi&oacute;n</a>
        </li>
      </ul>
    </li>
  </ul>
</header>       

