{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
 
  <div class="container aside-xxl" style="padding-top: 10%">           
    <section class="panel panel-default bg-white m-t-lg">
      <header class="panel-heading">
        <strong>Password reset confirm</strong>
      </header>
      <form role="form" method="POST" class="panel-body wrapper-lg" action="{% url 'password_reset_confirm' %}" >
        {% csrf_token %}

        {{ form|crispy }}          
            
        <button type="submit" class="btn btn-primary">Reset password</button>
        <div class="line line-dashed"></div>           
        
      </form>
    </section>      
  </div> 

{% endblock %}   
