{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<div class="container aside-xxl" style="padding-top: 10%">           
  <section class="panel panel-default bg-white m-t-lg">
    <header class="panel-heading text-center">
      <strong>Reset password</strong>
    </header>
    <form role="form" method="POST" class="panel-body wrapper-lg" action="{% url 'password_reset' %}" >
      {% csrf_token %}

      {{ form|crispy }}          
          
      <button type="submit" class="btn btn-primary">Accept</button>
      <div class="line line-dashed"></div>           
      
    </form>
  </section>      
</div>   
{% endblock %}   
